body {
  text-align: center;
  background-color: #2E3239;
  color: #fff;
  font-family: sans-serif;
}

.chatbox {
  width: 900px;
  height: 500px;
  margin: 0 auto;

  .messages {
    width: 880px;
    height: 400px;
    background-color: #fff;
    color: #2E3239;
    text-align: left;
    padding: 10px;
    overflow-y: auto;

    span {
      font-weight: bold;
    }
  }

  .new-message {
    background-color: white;
    width: 100%;
    height: 80px;
    text-align: left;
    position: relative;

    textarea {
      margin: 0;
      padding: 10px;
      width: 750px;
      height: 60px;
      border: none;
      resize: none;
      float: left;
      background-color: #3B4556;
      color: #fff;
    }

    button {
      width: 130px;
      height: 80px;
      margin: 0;
      padding: 0;
      outline: none;
      border: none;
      float: right;
      cursor: pointer;
      color: #fff;
      background-color: #A2D72F;
    }
  }
}
